{% extends 'bottomMenu.twig' %}

{% block title %}Hello LoggedHomeController!{% endblock %}

{% block body %}
<style>
:root {
        --font-title: outfitR;
        --font-main: jeju, serif;
        --color-bg: #FBF3D1;
        --color-heading: #463F33;
    }

    * {
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: jeju;
        src: url("fonts/jeju/JejuMyeongjo-Regular.ttf");
    }

    @font-face {
        font-family: outfitR;
        src: url("fonts/outfit/Outfit-Regular.ttf");
    }

    .bg {
        height: 100vh;
        background-color: var(--color-bg);
        padding: 5rem 2rem;
    }

    h1 {
        font-family: var(--font-title);
        color: var(--color-heading);
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .list {
        border-bottom: 2px solid var(--color-heading);
    }

    h2 {
        font-family: var(--font-main);
        letter-spacing: 0.175rem;
        color: var(--color-heading);
    }
</style>

 <div class="bg">
        <h1>
            Welcome
            {% if app.user and app.user.username %}
                {{ app.user.username }}
            {% endif %}
        </h1>
        <div class="list">
            <h2>
                Current Readings
            </h2>
        </div>
        <div class="list">
            <h2>
                To Read
            </h2>
        </div>
        <div class="list">
            <h2>
                Finished
            </h2>
        </div>
    </div>
{% endblock %}
